################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/lms-credit-engine-worker/CopilotIndices/17.12.38.29086
/.vs
